<nav class="top-bar topbar-responsive">
  <div class="top-bar-title">
    <span data-responsive-toggle="topbar-responsive" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
    </span>
    <a class="topbar-responsive-logo" href="/"><strong>HP Tutor</strong></a>
  </div>
  <div id="topbar-responsive" class="topbar-responsive-links">
    <div class="top-bar-right">
      <ul class="menu simple vertical medium-horizontal">
        <li><a href="/tutors"><%= fa_icon "search" %>&nbsp;Search</a></li>
        <li><a href="/about"><%= fa_icon "question-circle" %>&nbsp;About</a></li>
        <li><a href="/become_a_tutor"><%= fa_icon "graduation-cap" %>&nbsp;Apply</a></li>
        <li><a href="/blog/" target="_blank"><%= fa_icon "sticky-note" %>&nbsp;Blog</a></li>
        <li><a href="#"><%= fa_icon "gear" %>&nbsp;Login</a></li>
        <li><a href="/contact"><%= fa_icon "paper-plane" %>&nbsp;Contact</a></li>
<!--         <li>
          <button type="button" class="button hollow topbar-responsive-button">Categories</button>
        </li>
 -->      </ul>
    </div>
  </div>
</nav>
