<%= link_to profile_summary do %>
<div class="card cell medium-4">
  <div class="grid-x">
    <div class="cell small-3" style="padding: 8px">
      <%= image_tag profile_summary.user_photo_url, style: 'min-width: 64px;' %>
    </div>
    <div class="cell small-9">
        <p><%= profile_summary.full_name %></p>
        <h3><%= number_to_currency(Profile.convert_to_dollars(profile_summary.hourly_rate_in_usd)) %><small>/hr</small></h3>
         <span class="slate">
          <i class="fa fa-graduation-cap" aria-hidden="true"></i> 
          <%= profile_summary.accreditation %>
        </span>
<!--         <div>
              <span class="label label-success">S</span>
              <span class="label label-success">M</span>
              <span class="label label-success">T</span>
              <span class="label label-success">W</span>
              <span class="label label-success">T</span>
              <span class="label label-success">F</span>
              <span class="label label-success">S</span>
        </div>
 -->    </div>
  </div>  
  <% end %>
</div>
