<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => false %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render :partial => "navigation" %>
  
    <% flash.each do |key, value| %>
      <%= content_tag :div, class: "#{key} callout alert-callout-border", :data => { :closable => '' }  do -%>
        <strong><%= key %></strong> - <%= value %>
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
      <% end %>
    <% end %>
  
    <%= yield %>
  
    <%= render :partial => "footer" %>
  </body>
</html>
